@use "../styles/theme.scss";

:local(.question-modal) {
  max-width: 9999px;
}

:local(.hide) {
  display: none;
}

:local(.question-item) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

:local(.question-item > div) {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

:local(.question-item > p) {
  width: 50%;
  overflow: hidden;
}
