@use "../styles/theme.scss";

:local(.question-modal) {
  max-width: 1200px;
  width: fit-content;
  min-width: 900px;
}

:local(.hide) {
  display: none;
}

:local(.question-list) {
  overflow-y: unset;
}

:local(.question-result) {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
}

:local(.question-result > span) {
  display: block;
  width: 400px;
}

:local(.question-item) {
  justify-content: space-between;
  align-items: center;
  flex: 0 1 auto;
}

:local(.question-item > div) {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

:local(.question-item > p) {
  padding-right: 12px;
  overflow: hidden;
}

:local(.answer-question) {
  padding: 16px;
}

:local(.answer-question button) {
  margin: auto;
}

:local(.answer-option) {
  margin: 16px 0;
  font-size: 18px;
  font-weight: 400;
}
:local(.answer-option label) {
  font-size: 14px;
  font-weight: 400;
}
