@use "../styles/theme.scss";

:local(.result-info) {
  text-align: center;
  margin-top: 16px;
}

:local(.quizz-form) {
  & > * {
    margin-top: 24px;
  }

  button {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
