@use "../styles/theme.scss";

:local(.student-img) {
  width: 20px;

  div {
    width: 100%;
    padding-top: 100%;
    background: url("../../assets/students_1.png") center center / cover no-repeat;
  }
}

:local(.result-list) {
  & > * {
    margin-bottom: 24px;
  }

  & > :last-child {
    margin-bottom: unset;
  }
}

:local(.result-item) {
  .studentList {
    margin-top: 12px;
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}
