@use "../styles/theme.scss";

:local(.button) {
  padding: 12px 16px;
  border-radius: 8px;
  color: theme.$neutral-white;
  text-align: center;
}

:local(.icon-button) {
  display: flex;

  > :first-child {
    margin-right: 10px;
  }
}

/**
 * Primary button
 */
:local(.primary-default) {
  background-color: theme.$brand-500;
}
:local(.primary-secondary) {
  color: theme.$brand-500;
  background-color: theme.$neutral-white;
  border: 1px solid theme.$brand-500;
}
:local(.primary-hover) {
  background-color: theme.$brand-400;
}
:local(.primary-active) {
  background-color: theme.$brand-600;
}
:local(.primary-selected) {
  background-color: theme.$brand-700;
}
:local(.primary-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-600;
}

/**
 * Secondary button
 */
:local(.secondary-default) {
  color: theme.$brand-900;
  background-color: theme.$brand-100;
}
:local(.secondary-hover) {
  color: theme.$brand-900;
  background-color: theme.$brand-200;
}
:local(.secondary-active) {
  color: theme.$brand-900;
  background-color: theme.$brand-300;
}
:local(.secondary-selected) {
  background-color: theme.$brand-600;
}
:local(.secondary-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-700;
}

/**
 * Success button
 */
:local(.success-default) {
  background-color: theme.$green-600;
}
:local(.success-secondary) {
  color: theme.$green-600;
  background-color: theme.$neutral-white;
  border: 1px solid theme.$green-600;
}
:local(.success-hover) {
  background-color: theme.$green-500;
}
:local(.success-active) {
  background-color: theme.$green-700;
}
:local(.success-selected) {
  background-color: theme.$green-800;
}
:local(.success-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-700;
}

/**
 * Warning button
 */
:local(.warning-default) {
  background-color: theme.$yellow-600;
}
:local(.warning-secondary) {
  color: theme.$yellow-600;
  background-color: theme.$neutral-white;
  border: 1px solid theme.$yellow-600;
}
:local(.warning-hover) {
  background-color: theme.$yellow-500;
}
:local(.warning-active) {
  background-color: theme.$yellow-700;
}
:local(.warning-selected) {
  background-color: theme.$yellow-800;
}
:local(.warning-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-700;
}

/**
 * Safe button
 */
:local(.safe-default) {
  background-color: theme.$blue-600;
}
:local(.safe-secondary) {
  color: theme.$blue-600;
  background-color: theme.$neutral-white;
  border: 1px solid theme.$blue-600;
}
:local(.safe-hover) {
  background-color: theme.$blue-500;
}
:local(.safe-active) {
  background-color: theme.$blue-700;
}
:local(.safe-selected) {
  background-color: theme.$blue-800;
}
:local(.safe-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-700;
}

/**
 * Danger button
 */
:local(.danger-default) {
  background-color: theme.$red-600;
}
:local(.danger-secondary) {
  color: theme.$red-600;
  background-color: theme.$neutral-white;
  border: 1px solid theme.$red-600;
}
:local(.danger-hover) {
  background-color: theme.$red-500;
}
:local(.danger-active) {
  background-color: theme.$red-700;
}
:local(.danger-selected) {
  background-color: theme.$red-800;
}
:local(.danger-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-700;
}

/**
 * Tertiary button
 */
:local(.tertiary-default) {
  color: theme.$brand-500;
  background-color: theme.$neutral-white;
}
:local(.tertiary-hover) {
  color: theme.$brand-500;
  background-color: theme.$neutral-200;
}
:local(.tertiary-active) {
  color: theme.$brand-500;
  background-color: theme.$brand-100;
}
:local(.tertiary-selected) {
  background-color: theme.$brand-800;
}
:local(.tertiary-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-700;
}
