@use "../styles/theme.scss";

:local(.button) {
  padding: 12px 16px;
  border-radius: 8px;
  color: theme.$neutral-white;
  text-align: center;
  border: none;
  outline: none;
}

:local(.icon-button) {
  display: flex;

  > :first-child {
    margin-right: 10px;
  }
}

@mixin buttonState($hover-bg-color, $active-bg-color, $focus-bg-color) {
  &:hover {
    background-color: $hover-bg-color;
    border: unset;
    color: theme.$neutral-white;
  }
  &:active {
    background-color: $active-bg-color;
    border: unset;
    color: theme.$neutral-white;
  }
  &:focus {
    background-color: $focus-bg-color;
    border: unset;
    color: theme.$neutral-white;
  }
}

/**
 * Primary button
 */
:local(.primary-default) {
  background-color: theme.$brand-500;

  @include buttonState(theme.$brand-400, theme.$brand-600, theme.$brand-700);
}
:local(.primary-secondary) {
  @extend :local(.primary-default);

  color: theme.$brand-500;
  background-color: theme.$neutral-white;
  border: 1px solid theme.$brand-500;
}
:local(.primary-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-600;
}

/**
 * Secondary button
 */
:local(.secondary-default) {
  color: theme.$brand-900;
  background-color: theme.$brand-100;

  :hover {
    color: theme.$brand-900;
    background-color: theme.$brand-200;
  }
  :active {
    color: theme.$brand-900;
    background-color: theme.$brand-300;
  }
  :focus {
    background-color: theme.$brand-600;
  }
}
:local(.secondary-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-700;
}

/**
 * Success button
 */
:local(.success-default) {
  background-color: theme.$green-600;

  @include buttonState(theme.$green-500, theme.$green-700, theme.$green-800);
}
:local(.success-secondary) {
  @extend :local(.success-default);

  color: theme.$green-600;
  background-color: theme.$neutral-white;
  border: 1px solid theme.$green-600;
}
:local(.success-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-700;
}

/**
 * Warning button
 */
:local(.warning-default) {
  background-color: theme.$yellow-600;

  @include buttonState(theme.$yellow-500, theme.$yellow-700, theme.$yellow-800);
}
:local(.warning-secondary) {
  @extend :local(.warning-default);

  color: theme.$yellow-600;
  background-color: theme.$neutral-white;
  border: 1px solid theme.$yellow-600;
}
:local(.warning-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-700;
}

/**
 * Safe button
 */
:local(.safe-default) {
  background-color: theme.$blue-600;

  @include buttonState(theme.$blue-500, theme.$blue-700, theme.$blue-800);
}
:local(.safe-secondary) {
  @extend :local(.safe-default);

  color: theme.$blue-600;
  background-color: theme.$neutral-white;
  border: 1px solid theme.$blue-600;
}
:local(.safe-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-700;
}

/**
 * Danger button
 */
:local(.danger-default) {
  background-color: theme.$red-600;

  @include buttonState(theme.$red-500, theme.$red-700, theme.$red-800);
}
:local(.danger-secondary) {
  @extend :local(.danger-default);

  color: theme.$red-600;
  background-color: theme.$neutral-white;
  border: 1px solid theme.$red-600;
}
:local(.danger-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-700;
}

/**
 * Tertiary button
 */
:local(.tertiary-default) {
  color: theme.$brand-500;
  background-color: theme.$neutral-white;

  :hover {
    color: theme.$brand-500;
    background-color: theme.$neutral-200;
  }
  :active {
    color: theme.$brand-500;
    background-color: theme.$brand-100;
  }
  :focus {
    background-color: theme.$brand-800;
  }
}
:local(.tertiary-disabled) {
  background-color: theme.$neutral-200;
  color: theme.$neutral-700;
}
