@use "../styles/theme.scss";

:local(.quizz-layout) {
}

:local(.quizz-header) {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;

  & > :first-child {
    position: absolute;
    left: 0;
  }

  & > :last-child {
    position: absolute;
    right: 0;
  }
}

:local(.quizz-header-no-center) {
  justify-content: space-between;

  & > :first-child {
    position: unset;
    left: unset;
  }

  & > :last-child {
    position: unset;
    right: unset;
  }
}

:local(.title-with-close) {
  display: flex;
  flex: 1 0 auto;
  justify-content: start;
  align-items: center;

  .title {
    margin-left: 8px;
  }

  svg {
    cursor: pointer;
  }
}

:local(.question-img) {
  width: 48px;

  div {
    width: 100%;
    padding-top: 100%;
    background: url("../../assets/question-mark-1.png") no-repeat center center;
  }
}

:local(.result-img) {
  width: 48px;

  div {
    width: 100%;
    padding-top: 100%;
    background: url("../../assets/question-mark-2.png") no-repeat center center;
  }
}
