@use "../styles/theme.scss";

:local(.list) {
  > * {
    margin-top: 16px;
    padding: 4px 4px 24px 4px;
    border-bottom: 1px solid #e0e0e0;
  }

  > :last-child {
    border-bottom: unset;
    padding-bottom: unset;
  }
}

:local(.quizz-item) {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;

  .buttons {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
  }

  button {
    width: 116px;
  }
}
